# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# System files
.Trash/
Downloads/
.cache/
.cursor/
.gradle/
.local/
.m2/
.npm/
.rbenv/
.sdkman/
.skiko/
.swiftpm/
.viminfo
.vscode/*
!.vscode/settings.json
.yarnrc
.zcompdump
.zsh_history
.zsh_sessions/
.zshrc

# Other projects (explicitly ignore parent directories)
../trueBite/
../trueBite-back/
../benefit-app/
../benefit-app-back/
../gardening-app/
../gardening-app-back/
../almond-health-app/
../TrueBiteApp/
../url-shortener/

# OS
Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Pictures/
Project/
Public/
